body {
  font: 14px;
  background-color: #fff8e1;
  font-family: 'Alegreya Sans SC', sans-serif;
}

h5 {
  text-align: center;
}



h3 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: #00B7FF;
}

.card {
  background-color: transparent;
  border-radius: 10px;
}

.card .card-content .card-title {
  border-radius: 10px;
}

.card .card-action {
  border-top: 1px solid transparent;
  border-radius: 5px;
}



#iris {
  background-image: url("https://images.unsplash.com/photo-1554906493-4812e307243d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=tim-van-cleef-1504154-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

#users {
display: grid;
margin: auto;
padding: 20px 100px 20px 100px; 
font-size: 14px;
}

#search-row form {
  padding-top: 20px;
}

.user-name {
  position: relative;
  top: -5px;
  background-color: lavender;
  color: darkslategrey;
  padding: 15px;
  border-radius: 50px;
}

.collection{ 
  position: relative;
  overflow: visible;
  padding: 30px;
  border: 1px solid transparent;
}

.collection-item form {
  margin-top: -5px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

button {
  align-content: center;
  margin: 20px auto 20px auto;
  background:#689f38;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  color: #689f38;
  background: white;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}